let terminalparams = terminal-params;
let sp = terminalparams.split(' ')

let user = sp[0]
let pc = sp[1]
console.log(pc, user)
async function editinfo(){
    
    let nwJSN = {
                    "username" : user, 
                    "pcname"   : pc
                }
    await fetch('/',{method :'POST',headers:{'Content-Type' : 'application/json',body:JSON.stringify({nwJSN : nwJSN , serv : 'terminal-req'})}})
    alert()
    add_line()
}
editinfo()