let term = terminal-params;
append_to_window(false,STDP,`<h1 style='color: white;padding: 0;margin: 2px 0 2px 0;font-family: sans-serif;letter-spacing: 4px;font-size: 17px;'>${term}</h1>`)
add_line() // api of working with the end of the input so make a new line

